@media screen and (min-width: 768px) {
  .headline,
  .about-me {
    background-image: none;
  }

  .about-me__heading::before,
  footer address::after {
    content: '';
  }

  body {
    background-image: url('../img/desktop/header-illustration.svg');
    background-position: top center;
    background-repeat: no-repeat;
  }

  .mobile-nav {
    display: none;
  }

  nav {
    margin: 2.4rem auto;
  }

  .desktop-nav {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
  }

  .desktop-nav__item a {
    color: #172b4d;
  }

  h1 {
    padding-top: 12.8rem;
    padding-bottom: 2.4rem;
  }

  .greeting,
  .my-name {
    display: inline;
  }

  .headline {
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;
  }

  p {
    line-height: 3.2rem;
    width: 55%;
  }

  .advert {
    align-self: center;
    margin-bottom: 1.2rem;
  }

  .works {
    margin-top: 12.8rem;
    margin-bottom: 12.8rem;
  }

  .works__heading {
    margin-top: 25rem;
  }

  .works__heading span {
    display: inline;
  }

  .indicator {
    display: none;
  }

  .works__cards {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.6rem;
    column-gap: 2.4rem;
    margin: 0 20rem;
  }

  .works__card {
    margin-bottom: 0;
  }

  .statement {
    margin: 0 auto;
    margin-bottom: 3.2rem;
  }

  .resume {
    margin-bottom: 3.6rem;
  }

  .capabilities {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    margin-bottom: 4.8rem;
  }

  .capability {
    width: 37rem;
    height: 32rem;
    margin: 0%;
    padding-bottom: 0;
  }
}
