@media screen and (min-width: 768px) {
  .headline,
  .about-me {
    background-image: none;
  }

  .about-me__heading::before,
  footer address::after {
    content: '';
  }

  body {
    background-image: url('../img/desktop/header-illustration.svg');
    background-position: top center;
    background-repeat: no-repeat;
  }

  .mobile-nav {
    display: none;
  }

  nav {
    margin: 2.4rem auto;
  }

  .desktop-nav {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
  }

  .desktop-nav__item a {
    color: #172b4d;
  }

  h1 {
    padding-top: 12.8rem;
    padding-bottom: 2.4rem;
  }

  .greeting,
  .my-name {
    display: inline;
  }

  .headline {
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;
  }

  .advert {
    line-height: 3.2rem;
    width: 55%;
    align-self: center;
    margin-bottom: 1.2rem;
  }
}
