*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-style: normal;
  text-align: center;
  line-height: 2.8rem;
  font-weight: 400;
  background: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  z-index: 5;
}

.mobile-nav {
  display: flex;
  justify-content: flex-end;
  padding: 1.2rem 3.2rem;
  width: 100%;
  height: 4.8rem;
  position: fixed;
  top: 0;
  left: 0;
}

.desktop-nav {
  display: none;
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  padding-top: 1.6rem;
  width: 100%;
  height: 100vh;
  background: #fff;
  font-size: 3.2rem;
  padding-top: 4.8rem;
}

.nav > li {
  padding-left: 2.8rem;
  font-size: 4rem;
  font-weight: 600;
}

.nav > li a {
  color: #3a4a42 !important;
}

.nav > li:not(:last-child) {
  padding-bottom: 4rem;
}

.hamburger-icon {
  width: 2.4rem;
  cursor: pointer;
}

.close-icon {
  display: none;
  position: absolute;
  right: 8.5%;
  cursor: pointer;
  z-index: 20;
}

.headline {
  background-image: url(../img/headline-background.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  padding-bottom: 3.6rem;
}

h1 {
  margin-top: 6.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  padding-top: 6rem;
}

.greeting,
.my-name,
.job {
  display: block;
}

.greeting {
  color: #172b4d;
}

.job {
  color: #36b37e;
}

p {
  line-height: 2.8rem;
  color: #172b4d;
}

.advert {
  padding: 1.5rem 2.4rem;
}

.social__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding: 0 10.2rem;
  margin-bottom: 6.4rem;
}

.social__link {
  list-style: none;
}

.social__link img {
  height: 1.8rem;
}

.chevron {
  border: 2px solid #dfe1e6;
  border-radius: 50%;
  padding: 0.8rem;
}

.works {
  padding-top: 4.8rem;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  color: #172b4d;
}

.works__heading {
  margin-bottom: 2.4rem;
}

.works__heading span {
  display: block;
}

.indicator {
  margin-bottom: 3.6rem;
}

.works__stories--heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #3a4a42;
  margin-bottom: 1.2rem;
}

.gain-glory {
  display: block;
}

.works__cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2.4rem;
}

.works__card {
  background: #ebf0ee;
  border: 1px solid #ebf0ee;
  margin-bottom: 2.4rem;
  border-radius: 0.5rem;
}

.information {
  padding: 2.4rem 0 3.6rem;
  border-radius: 0.5rem;
  margin-top: 28rem;
  background: #fff;
}

.works__categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3.6rem;
}

.works__skill {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
  color: #3a4a42;
  background: #ebf0ee;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
}

.link {
  font-size: 1.7rem;
  color: #fff;
  font-weight: 500;
  line-height: 2.4rem;
  background: #36b37f;
  border-radius: 0.5rem;
  padding: 1.4rem 1.2rem;
}

.statement {
  padding: 1.6rem 2.4rem 0 2.4rem;
  margin-bottom: 3.2rem;
}

.about-me {
  background-image: url(../img/about-me/illustration-about-me.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  padding-top: 6.4rem;
  position: relative;
}

.about-me__heading::before {
  content: url(../img/about-me/mask-about-me.svg);
  position: absolute;
  top: 0;
  right: 0.6rem;
}

.capabilities {
  margin-top: 8rem;
}

.capability {
  margin: 2.4rem;
  border-radius: 0.5rem;
  background: #ebf0ee;
  padding-bottom: 3.6rem;
}

.cap-img {
  height: 6.4rem;
  background: #fff;
  border-radius: 50%;
  padding: 1.2rem;
  margin: 3.6rem 0 2.4rem 0;
}

.capability__heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #344563;
  margin-bottom: 3.6rem;
}

.item {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: #36b37e;
  background: #fff;
}

.languages__list {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.frameworks__list {
  padding: 0 2.4rem;
}

.capybara,
.selenium {
  margin-top: 0.6rem;
}

.db-mgmt,
.version-ctrl {
  margin-bottom: 0.6rem;
}

.contact {
  padding: 0 2.4rem;
}

.contact__message {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  padding: 4.8rem 0;
}

.contact__form input,
.contact__form textarea {
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: inherit;
  padding: 1.8rem;
  border: 1px solid #d0d9d4;
  border-radius: 0.5rem;
  margin-bottom: 2.4rem;
}

.contact__form input {
  font-style: italic;
}

.submit-form {
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.4rem;
  background: #36b37f;
  border-radius: 0.5rem;
  padding: 1.2rem;
  margin-bottom: 3.6rem;
}

.contact-email {
  margin-bottom: 3.6rem;
}

footer {
  position: relative;
}

footer .social__links {
  margin-bottom: 3.6rem;
}

footer address::after {
  content: url(../img/frame.svg);
  position: absolute;
  right: 0;
  top: -9rem;
}

.hr-bar {
  height: 0.5rem;
  background: #000;
  width: 30%;
  margin: 0 auto;
  border-style: none;
  border-radius: 0.3rem;
  margin-bottom: 0.8rem;
}
